{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/mainpage_style.css') }}" />
{% endblock %}
{% block body %}
  <body>
    <div class="container">
      <div class="borders_change">
        <form name="frmChangePassword" action="{{ path('app_changepassword') }}" method="POST" onsubmit="return checkPassword()">
          <h3>CHANGE PASSWORD</h3>
          {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-2" id="error" align="center">{{ message }}</div>
            {# <meta http-equiv="refresh" content="5; url='/'" /> #}
          {% endfor %}
          {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-2" id="success" align="center">{{ message }}</div>
            {# <meta http-equiv="refresh" content="5; url='/'" /> #}
          {% endfor %}
          <div class="row">
            {% if isDefaultPassword is not defined %}
              <div class="input">
                <label for="oldPass">Old Password:</label>
                <input type="password" class="form-control" name="oldPass" aria-describedby="Old Password" id="oldPass" />
              </div>
            {% else %}
              <h6 class="" style="text-align: center; padding: 0; color: red">You must change your password the first time</h6>
            {% endif %}
            <div class="input">
              <label for="passwordNew">New Password:</label>
              <input type="password" name="passwordNew" class="form-control" id="passwordNew" />
              <span class="text-danger" id="errPassNew" style="font-style: italic;"></span>
            </div>
            <div class="input">
              <label for="passwordConfirm">Confirm Password:</label>
              <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" />
            </div>
          </div>
          <button type="submit" name="btnSubmit" class="btn btn-primary btn_change">Submit</button>
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{{ asset('js/checkvalid.js') }}"></script>
{% endblock %}
